# Archivos de configuración
web/sites/*/settings.php
web/sites/*/settings.local.php
web/sites/*/services.yml

# Archivos privados y temporales
web/sites/*/files/
web/sites/*/private/
web/sites/default/files/
web/sites/default/private/

# Ignorar recursivamente archivos en files/
web/sites/default/files/**/*

# Composer
/vendor/
composer.lock
/composer.phar

# Cachés y compilaciones
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/

# Ignorar directorios de caché
cache/
tmp/
logs/

# IDEs y editores
.idea/
.vscode/
*.iml
*.swp
*.swo

# Sistemas operativos
.DS_Store
Thumbs.db

# DDEV
.ddev/.global_commands